<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>web-todos-tracker</display-name>
    <welcome-file-list>
        <welcome-file>ToDosControllerServlet</welcome-file>
    </welcome-file-list>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>Common Space</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-constraint>
        <display-name>AUTH TEST</display-name>
        <web-resource-collection>
            <web-resource-name>InstructorRestricted</web-resource-name>
            <url-pattern>/EditToDosServlet</url-pattern>
            <url-pattern>/AddToDosControllerServlet</url-pattern>
            <url-pattern>/DeleteTodosServlet</url-pattern>
            <url-pattern>/ToDosControllerServlet</url-pattern>
            <url-pattern>/ToDosDBUtil</url-pattern>
            <url-pattern>/LogoutControllerServlet</url-pattern>
        </web-resource-collection>

        <auth-constraint>
            <role-name>instructor</role-name>
        </auth-constraint>

    </security-constraint>
    <security-role>
        <description>instructor</description>
        <role-name>instructor</role-name>
    </security-role>

    <security-constraint>
        <display-name>AUTH TEST</display-name>
        <web-resource-collection>
            <web-resource-name>Common Land</web-resource-name>
            <url-pattern>/ToDosControllerServlet</url-pattern>
            <url-pattern>/ToDosDBUtil</url-pattern>
            <url-pattern>/LogoutControllerServlet</url-pattern>
        </web-resource-collection>

        <auth-constraint>
            <role-name>student</role-name>
        </auth-constraint>

    </security-constraint>
    <security-role>
        <description>student</description>
        <role-name>student</role-name>
    </security-role>
</web-app>